<template>
  <div class="home">
    <el-container style="height: 100vh;">
      <el-aside width="210px" style="background-color: #001529">
        <h1 style="height:60px; text-align:center; line-height:60px; color:#fff;">后台管理</h1>
        <el-menu active-text-color="#fff" text-color="#999" background-color="#001529" :router='true'>
          <el-submenu :index="''+(index+1)" v-for="(item,index) in menuLists" :key="index">
            <template slot="title">
              <i class="el-icon-message"></i>
              {{item.authName}}
            </template>
            <el-menu-item-group>
              <el-menu-item
                v-for="(_item,_index) in item.children"
                :index="'/home/'+_item.path"
                :key="_index">
              {{item.authName}}</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>Boss</span>
        </el-header>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<style>
.el-header {
  /* border: none; */
  background-color: #b3c0d1;
  color: #333;
  overflow: hidden;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>

<script>
import axios from "@/http";
export default {
  data() {
    return {
      menuLists: []
    };
  },
  methods: {
    getMenus() {
      axios("menus").then(res => {
        this.menuLists = res.data;
      });
    }
  },
  created() {
    this.getMenus();
  }
};
</script>